
.w3-bar.w3-top {
    height: 45px;
}
.app-title {
    width: 250px;
    padding: 8px 16px;
    float: left;
    border: none;
    border-bottom: black 0px;
    display: block;
    outline: 0;
    text-align: left !important;
}   

.w3-main {
    margin-left:250px;
    padding: 20px;
}

.w3-sidebar {
    border-right: 1px black solid !important;
}

.pink-text {
    color: #e7cc81;
}

.pink-bkg {
    background-color: #ffab3c;
}
.w3-bar .w3-bar-item li {
    border-bottom: none !important;
}
.w3-bar-block .sidebar-item {
    width: 100%;
    display: block;
    padding: 2px 8px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    font-size: 12px;
}

.sidebar-title {
    color: grey;
    border-bottom: solid 1px grey;
    width: 100%;
    display: block;
    padding: 2px 8px;
    text-align: left;
    white-space: normal;
    float: none;
    outline: 0;
    font-size: 12px;
}

.page-btn-light {
    padding: 0px !important; 
    height: 3px; 
    margin-top: -1px;
}


.main-chart {
    width: 100%;
    height: 800px;
    max-width: 100%; 
    padding: 16px;
}

.chart-controls {
    overflow: hidden;
    padding-bottom: 3px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    display: none;
    width: 0%;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0px 40px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    display: inline-block;
    width:40%
}

.tooltip:not(:hover) .not_hover  {
    /*
    display: inline-block;
    */
    width:20%;
}

.tooltip:hover .not_hover  {
    display: none;
    width:0%;
}

.com-value {
    text-align: right;
    color: rgb(199, 199, 199);
}

.negative-value {
    color: rgb(255, 57, 57);
}
.my-theme {
    background-color: #333333 !important;
    color: rgb(199, 199, 199) !important;
}